body{
    width: 400px;
    height: 800px;
    background-image: url("/giphy\ background.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button{
    border-radius: 12px;
    padding: 15px 20px;
    margin: 25px;
    font-size: 25px;
    font-family: cursive;
    background-color:rgb(236, 106, 122);
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    right: 50px;
}
.Game-instructions{
    padding: 20px 5px;
    margin: 100px auto ;
    text-align: center;
    color: rgb(243, 243, 196);
    position: relative;
    left: 1030px;
    top: 250px;
    font-style: bold;

 }
 ul{
     font-size: 20px;
     letter-spacing: 2px;
     text-align: center;
     list-style: none;
 }