body{
    width: 400px;
    height: 800px;
    background-image: url("/giphy\ background.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button{
    border-radius: 12px;
    padding: 20px 40px;
    margin: 25px;
    font-size: 25px;
    font-family: cursive;
    color: aliceblue;
    background-color:rgb(236, 106, 122);
    cursor: pointer;
    position: absolute;
    bottom: 300px;
    right: 100px;

}